<!DOCTYPE html>
<html>
<head>
    <title>Video Files</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script type="text/javascript">
        function reloadPage() {
            location.reload();
        }
        document.addEventListener('visibilitychange', function() {
            if (document.visibilityState === 'visible') {
                reloadPage();
            }
        });

        // WebSocket connection
        const ws = new WebSocket("ws://" + window.location.host + "/ws");
        ws.onmessage = function(event) {
            if (event.data === "reload") {
                reloadPage();
            }
        };
    </script>
</head>
<body>
    <h1>Replays</h1>
    <div class="showAll">
        {{if .ShowAll}}
            <a href="/">Show recent videos</a>
        {{else}}
            <a href="/?showAll=true">Show All ({{.TotalCount}} videos)</a>
        {{end}}
    </div>
    <ul>
        {{range .Videos}}
            <li><a href="/videos/{{.Filename}}" target="_blank" rel="noopener noreferrer">{{.DisplayName}}</a></li>
        {{end}}
        {{if and (not .ShowAll) (gt .TotalCount 20)}}
            <li><a href="/?showAll=true">List all replays</a></li>
        {{end}}
    </ul>
</body>
</html>
