body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: #333;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	background-color: #fff;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
	text-decoration: none;
	color: #007bff;
}

a:hover {
	text-decoration: underline;
}

.showAll {
    text-align: center;
    margin: 1em 0;
}

.showAll a {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
}

.showAll a:hover {
    background-color: #0056b3;
    text-decoration: none;
}
